body, html {
    background: #fff;
  margin: 0px; padding: 0px;
  overflow: visible;

  text-align: left;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #37404A;
}


.wrapper {
    width:700px;
    margin: 0 auto;
}

#block1 {
    float:left;
        margin: 0px 0px 10px

}

#block2
{
    float:right;
    background-color: #F5F5F5;
    margin: 10px 0px;
    padding: 20px;
    width: 180px;
}

.result-div p.title {
    font-weight: bold; 
}

.result-div p {
    margin-bottom: 0;
}

#results {
	width: 60%;
	float: left;
}

.hidden {
	display: none;
}

.bolded {
	font-weight: bold;
}

.container {
	margin: auto;
}
.red {
	color: red;
	font-style: italic;
}



input {
  background-color: #f6f6f6;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  box-sizing: border-box;
  color: rgb(125, 224, 176);
  display: inline-block;
  font-family: SOG-Volkhov, serif;
  font-size: 27px;
  font-style: italic;
}
*:focus{
    outline: 0;
}
.aggressive {
	color: rgba(175,235,139,1);
	font-weight: bold;
}
.standard {
	color: rgba(151,187,205,1);
	font-weight: bold;
}
.conservative {
	color: rgba(220,220,220,1);
	font-weight: bold;
}



